<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webitor Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/html.min.js"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/menu-bar.css">
    <link rel="stylesheet" href="./styles/side-bar.css">
    <link rel="stylesheet" href="./styles/tab-bar.css">
    <link rel="stylesheet" href="./styles/work-area.css">
    <script src="./scripts/libs/jszip/dist/jszip.js"></script>
</head>

<body>
    <div id="menu-bar"></div>
    <div id="tab-bar"></div>
    <div id="work-area"></div>
    <div id="side-bar"></div>
    <div id="status-footer"></div>
    <script defer src="./scripts/icons.js"></script>
    <script defer src="./scripts/project.js"></script>
    <script defer src="./scripts/editor.js"></script>
    <script defer src="./scripts/file.js"></script>
    <script defer src="./scripts/menu.js"></script>
    <script defer src="./scripts/app.js"></script>
</body>

</html>
