#tab-bar {
    position: fixed;
    width: calc(100% - var(--side-bar-width));
    height: var(--tab-height);
    top: var(--menu-bar-height);
    left: 0px;
    background-color: var(--theme-light);
    display: flex;
    align-items: center;
}
#tab-bar > div {
    position: relative;
    background-color: var(--theme-medium);
    height: var(--tab-height);
    max-width: 140px;
    width: fit-content;
    border-right: 1px solid var(--border-color);
    line-height: var(--tab-height);
    padding: 0px 8px;
    font-family: monospace;
    color: var(--text-light-color);
    overflow-x: hidden;
}
#tab-bar > div:first-child {
    border-left: 1px solid var(--border-color);
}
